---
nopanels: true
---
<div class="panel hide-lg hide-xl ">
	<div class="panel-body" id="">
		<form method="get" action="{% include url.html url='/search' %}" class="search-form">
			<input type="text" id="search_box_mobile" name="q" placeholder="Search..." >
		</form>
	</div>
</div>

<div class="panel">
	<div class="panel-header"><h3>Games</h3></div>
	<div class="panel-body search-results" id="search_games">
	</div>
</div>
<div class="panel">
	<div class="panel-header"><h3>Player</h3></div>
	<div class="panel-body search-results" id="search_players">
	</div>
</div>


<script src="https://unpkg.com/lunr/lunr.js"></script>
<script>
	const games = [
		{% for game in site.games %}
		{% assign image = game.image|default:game.splash|default:game.menu|default:game.gameplay %}
		{
			"index":{{forloop.index}}-1,
			"title":"{{game.title}}",
			"description":"{{game.description}}",
			"developer":"{{game.developer}}",
			"brand":"{{game.brand}}",
			"category":"{{game.category}}",
			"collection":"{{game.collection}}",
			"image":"{% include url.html url=image %}",
			"url":"{% include url.html url=game.url %}"
		},
		{% endfor %}
	];
	const players = [
		{% for player in site.players %}
		{
			"index":{{forloop.index}}-1,
			"title":"{{player.title}}",
			"image":"{% include url.html url=player.image %}",
			"url":"{% include url.html url=player.url %}"
		},
		{% endfor %}
	];

	const gameIndex = lunr(function () {
  this.ref('index')
  this.field('title')
  this.field('description')
  this.field('developer')
  this.field('brand')
  this.field('category')
  this.field('collection')

  games.forEach(function (doc) {
    this.add(doc)
  }, this)
})

const playerIndex = lunr(function () {
  this.ref('index')
  this.field('title')
  this.field('description')
  this.field('collection')

  players.forEach(function (doc) {
    this.add(doc)
  }, this)

})

const documentLists = {
	games,
	players
}

const indexes = {
	games:gameIndex,
	players:playerIndex
}

function search(text) {
	let querys = [
		text,
	"*"+text.split(" ").join("*")+"*",
	"*"+text.split("").join("*")+"*",
	...text.split(" "),
	...text.split(""),
	];

	let results = {}
	for (const collection in indexes) {
		results[collection] = []
		for (const query of querys) {
			let res = indexes[collection].search(query).map(({ref})=>documentLists[collection][ref]||ref).filter(i=>{
				if(results[collection].map(r=>r.index).includes(i.index)) return false
				return true
			})
			results[collection].push(...res)
		}
	}
	return results
  }

  function createSearchResult(data) {
  const { image, title, description, ...miscProps } = data;

  const result = document.createElement('a');
  result.classList.add('search-result');
  result.href = data.url;

  const img = document.createElement('img');
  img.src = image;
  img.alt = '';

  const resultMeta = document.createElement('div');
  resultMeta.classList.add('result-meta');
  

  const h2 = document.createElement('h2');
  h2.textContent = title;

  const p = document.createElement('p');
  p.textContent = description;

  const resultOther = document.createElement('div');
  resultOther.classList.add('result-other');

  for (const prop in miscProps) {
	if(["index","url","collection"].includes(prop)) continue
    const span = document.createElement('span');
    const strong = document.createElement('strong');
    strong.textContent = prop;
    span.appendChild(strong);
    span.appendChild(document.createTextNode(' ' + miscProps[prop]));
    resultOther.appendChild(span);
  }

  resultMeta.appendChild(h2);
  resultMeta.appendChild(p);
  resultMeta.appendChild(resultOther);

  result.appendChild(img);
  result.appendChild(resultMeta);

  return result;
}


  function renderSearch(text) {
	const searchBox = document.getElementById("search_box"),
	searchBoxMobile = document.getElementById("search_box_mobile");
	if(!text) {
		 const style = window.getComputedStyle(searchBox),
		 styleMobile = window.getComputedStyle(searchBoxMobile);

		 function clickEvent(e) {
		 console.log("ok")
			if(style.getPropertyValue("display")!=='none'){
				searchBox.focus();
			}
			if(styleMobile.getPropertyValue("display")!=='none'){
				searchBoxMobile.focus();
			}
			window.removeEventListener(e.type,clickEvent)
		}
		window.addEventListener("click",clickEvent)
		window.dispatchEvent(new MouseEvent("click",{bubbles: true,
			cancelable: true,
			composed: true}))
		return
	}


	const results = search(text)
	console.log(text,results);

	for (const collection in results) {
		if(!collection) continue;
		const container = document.getElementById("search_"+collection),
		items= results[collection];

		for( const item of items){
			const el = createSearchResult(item)
			container.appendChild(el)
		}

	}
  }


  renderSearch((new URLSearchParams(location.search)).get("q"))

</script>
