{% assign item=include.item %}
{% capture itemurl %}{% include url.html url=item.url %}{% endcapture %}

{% if item.image or item.links %}
<div id="infocard" class="panel">
	<div class="panel-body">
		
		{% assign imageUrl = item.image|default:item.splash|default:item.menu|default:item.gameplay %}
		{% if imageUrl or imageUrl != 'null' %}
		<a href="{{itemUrl}}"><img src="{% include url.html url=imageUrl %}"></a>
		{% endif %}
		<div id="page_info">
			<h1 id="page_title">
				<a href="{{itemUrl}}">
				{{item.title}}
			</a>
			</h1>
			<span>{{item.date| date:site.date-format}}</span>
			<div id="page_description">
				<p>Under Constructuon</p>
			</div>
			{% if item.links %}
			<div id="page_links">
				{% for link in item.links %}
				<a href="{% include url.html url=link.url %}" {% if link.title=="Play" %}id="page_play" {% endif%}>{{link.title}}</a>
				{% endfor %}
			</div>
			{% endif %}
		</div>
	</div>
</div>
{% endif %}