{% assign item=include.item  %}

{% if item.image or item.links %}
<div id="infocard" class="panel">
	<div class="panel-body">
		
		{% assign imageUrl = item.image|default:item.splash|default:item.menu|default:item.gameplay %}
		{% if imageUrl %}
		{% unless imageUrl contains 'http://' or imageUrl contains 'https://' %}
		{% assign imageUrl = 'https://stb-gaming.github.io/sky-games/assets/img/games/' | append: imageUrl %}
		{% endunless %}
		{% assign itemUrl=item.url %}
		{% if itemUrl | starts_with: '/' %}
		{% assign itemUrl=site.url|append:itemUrl %}
		{% endif %}
		<a href="{{itemUrl}}"><img src="{{imageUrl}}"></a>
		{% endif %}
		<div id="page_info">
			<h1 id="page_title">
				<a href="{{itemUrl}}">
				{{item.title}}
			</a>
			</h1>
			<span>{{item.date| date:site.date-format}}</span>
			<div id="page_description">
				<p>Under Constructuon</p>
			</div>
			{% if item.links %}
			<div id="page_links">
				{% for link in item.links %}
				{% assign linkUrl=link.url %}
				{% if linkUrl | starts_with: '/' %}
				{% assign linkUrl=site.url|append:linkUrl %}
				{% endif %}
				<a href="{{linkUrl}}" {% if link.title=="Play" %}id="page_play" {% endif%}>{{link.title}}</a>
				{% endfor %}
			</div>
			{% endif %}
		</div>
	</div>
</div>
{% endif %}