{% assign item=include.item %}
{% capture itemUrl %}{% include url.html url=item.url %}{% endcapture %}


{% if item.image or item.links or item.collection == "games" or item.collection == "players" %}
<div id="infocard_{{item.slug}}" class="panel infocard" {% if include.hide %}style="display:none;"{% endif %}>
	<div class="panel-body">
		
		<a href="{{itemUrl}}">{% include avatar.html item=item %}</a>
		<div id="page_info">
			<h1 id="page_title">
				<a href="{{itemUrl}}">
					{% include rank.html user=item %}
				{{item.title | titlecase}}
			</a>
			</h1>
			<span>{{item.date | date:site.date-format}}</span>
			<div id="page_description">
				<p>{{item.description}}</p>
			</div>
			{% if item.links  or item.collection == "games" or item.collection == "players"  %}
			<div id="page_links">
				{% for link in item.links %}
				{% if link.title=="Play" %}
				{% assign url=link.url |replace:"denki.co.uk","stb-gaming.github.io" %}
				<a href="{% include url.html url=url %}" id="page_play">{{link.title}}</a>
				{% else %}
				<a href="{% include url.html url=link.url %}">{{link.title}}</a>
				{% endif %}
				{% endfor %}
				{% capture submitUrl %}/submit/score?{% if item.collection == "games" %}game{% elsif item.collection == "players" %}author{% endif %}={{item.slug}}{% endcapture %}
				<a href="{% include url.html url=submitUrl %}">Submit Score</a>
			</div>
			{% endif %}
		</div>
	</div>
</div>
{% endif %}
