{% comment %}
include.collection
include.filter
include.items
{% endcomment %}


{% if include.collection %}
{% assign collectionItems = site[include.collection] %}
{% endif %}

{% assign items = site.emptyarr %}

{% if include.items %}
{% for item in include.items %}
{% assign siteItem = collectionItems | where:"url", item.url | first %}
{% if item.url and siteItem and siteItem.url %}
{% assign items = items | push: siteItem %}
{% else %}
{% assign items = items | push: item %}
{% endif %}
{% endfor %}
{% else %}
{% assign items = collectionItems %}
{% endif %}

{% if include.filter %}
{% assign items = items | where_exp:"item",include.filter %}
{% endif %}


{% unless include.showhidden %}
{% assign items = items | where_exp:"item","item.hidden != true" %}
{% endunless %}

{% if items and include.sort %}
{% assign items = items | sort: include.sort %}
{% endif %}
{% if include.reverse %}
{% assign items = items | reverse %}
{% endif %}


{% if include.collection == "scores" %}
<table><thead>
		{% if include.sort == "score" and include.reverse %}
		<th>#</th>
		{% endif %}
		{% unless page.collection == "games" %}
		<th>Game</th>
		{% endunless %}
		{% unless page.collection == "players" %}
		<th>Player</th>
		{% endunless %}
		<th>Score</th>
		<th>Platform</th>
		<th>Method</th>
		<th>Date</th>
</thead>
<tbody>
	{% for score in items limit: include.limit %}

	{% capture scoreUrl%}{% include url.html url=score.url %}{% endcapture %}
	<tr {% if score.url %}onclick="window.location.href='{{scoreUrl}}';" style="cursor: pointer;"{% endif %}
	data-mode="{{score.mode}}"
	data-level="{{score.level}}"
	>
		
		{% if include.sort == "score" and include.reverse %}
			<td>
				{% if score.url %}<a href="{{scoreUrl}}">{% endif %}
					{% capture rank %}{% include scorerank.html score=score %}{% endcapture %}
				{% include place.html number=rank %}
				{% if score.url %}</a>{% endif %}
			</td>
			{% endif %}
			

		{% unless page.collection == "games" %}
		{% assign game = site.games | where:"slug", score.game | first %}

		<td>
			{% include game-link.html  game=score.game %}
		</td>
		{% endunless %}
		{% unless page.collection == "players" %}
		{% assign player = site.players | where:"slug", score.author | first %}
		<td>
			{% include player-link.html  player=score.author %}
		</td>
		{% endunless %}
		<td>
			{% if score.url %}<a href="{{scoreUrl }}">{% endif %}
			{{score.score}}
			{% if score.url %}</a">{% endif %}
		</td>
		<td>
			{% if score.url %}<a href="{{scoreUrl }}">{% endif %}
			{{score.platform}}
			{% if score.url %}</a">{% endif %}
		</td>
		<td>
			{% if score.url %}<a href="{{scoreUrl }}">{% endif %}
			{{score.method}}
			{% if score.url %}</a">{% endif %}
		</td>
		<td>
			{% if score.url %}<a href="{{scoreUrl }}">{% endif %}
			{{score.date | date:site.date-format}}
			{% if score.url %}</a">{% endif %}
		</td>
	</tr>
	{% endfor %}
</tbody>
</table>
{% else %}


<div id="game_list">
	{% for item in items limit: include.limit %}
	<a href="{% include url.html url=item.url %}" class="game">
		{% include avatar.html item=item %}
		<h4>{{item.title | titlecase}}</h4>
	</a>
	{% endfor %}
</div>

{% endif %}