{% comment %}
include.collection
include.filter
include.items
{% endcomment %}


{% if include.collection %}
{% assign collectionItems = site[include.collection] %}
{% endif %}

{% assign items = "" | split: "" %}

{% if include.items %}
{% for item in include.items %}
{% assign siteItem = collectionItems | where:"url", item.url | first %}
{% if siteItem and siteItem.url %}
{% assign items = items | push: siteItem %}
{% else %}
{% assign items = items | push: item %}
{% endif %}
{% endfor %}
{% else %}
{% assign items = collectionItems %}
{% endif %}

{% if include.filter %}
{% assign items = items | where_exp:"item",include.filter %}
{% endif %}

{% if include.sort %}
{% assign items = items | sort: include.sort %}
{% endif %}


{% if include.collection == "scores" %}
{% assign items = items | sort: "score"|reverse %}
<table>
	<tr>
		<th>#</th>
		{% unless page.collection == "games" %}
		<th>Game</th>
		{% endunless %}
		{% unless page.collection == "players" %}
		<th>Player</th>
		{% endunless %}
		<th>Score</th>
		<th>Platform</th>
		<th>Method</th>
		<th>Date</th>
	</tr>
	{% for score in items limit: include.limit %}

	{% capture scoreUrl%}{% include url.html url=score.url %}{% endcapture %}
	<tr {% if score.url %}onclick="window.location.href='{{scoreUrl}}';" style="cursor: pointer;"{% endif %}>
		
			<td>
				{% if score.url %}<a href="{{scoreUrl}}">{% endif %}
				{{ forloop.index }}
				{% if score.url %}</a>{% endif %}
			</td>
			

		{% unless page.collection == "games" %}
		{% assign game = site.games | where:"slug", score.game | first %}

		<td>
			{% include game-link.html  game=score.game %}
		</td>
		{% endunless %}
		{% unless page.collection == "players" %}
		{% assign player = site.players | where:"slug", score.author | first %}
		<td>
			{% include player-link.html  player=score.author %}
		</td>
		{% endunless %}
		<td>
			{% if score.url %}<a href="{{scoreUrl }}">{% endif %}
			{{score.score}}
			{% if score.url %}</a">{% endif %}
		</td>
		<td>
			{% if score.url %}<a href="{{scoreUrl }}">{% endif %}
			{{score.platform}}
			{% if score.url %}</a">{% endif %}
		</td>
		<td>
			{% if score.url %}<a href="{{scoreUrl }}">{% endif %}
			{{score.method}}
			{% if score.url %}</a">{% endif %}
		</td>
		<td>
			{% if score.url %}<a href="{{scoreUrl }}">{% endif %}
			{{score.date| date:site.date-format}}
			{% if score.url %}</a">{% endif %}
		</td>
	</tr>
	{% endfor %}

</table>
{% else %}


<div id="game_list">
	{% for item in items limit: include.limit %}
	<a href="{% include url.html url=item.url %}" class="game">
		{% assign imageUrl = item.image|default:item.splash|default:item.menu|default:item.gameplay %}
		<img src="{% include url.html url=imageUrl %}" alt="">
		<h4>{{item.title}}</h4>
	</a>
	{% endfor %}
</div>

{% endif %}