---
---
:root {
	--sky-games-pink-hue: 344;
	--sky-games-pink: hsl(var(--sky-games-pink-hue), 90%, 57%);
	--sky-games-pink-dark: hsl(var(--sky-games-pink-hue), 67%, 46%);

	--background-color-light: hsl(var(--sky-games-pink-hue), 17%, 92%);
	--panel-color-light: hsla(var(--sky-games-pink-hue), 20%, 82%, 0.85);
	--panel-header-color-light: hsla(var(--sky-games-pink-hue), 0%, 12%, 0.1);
	--text-color-light: #212427;


	--background-color-dark: hsl(var(--sky-games-pink-hue), 17%, 8%);
	--panel-color-dark: hsla(var(--sky-games-pink-hue), 20%, 18%, 0.85);
	--panel-header-color-dark: hsla(var(--sky-games-pink-hue), 0%, 88%, 0.1);
	--text-color-dark: #f9f9f9;

	--darken: rgba(.5,.5,.5,.2);
	--trans: rgba(0, 0, 0, 0);

}


@media (prefers-color-scheme: light) {
	:root {
		--background-color: var(--background-color-light);
		--panel-color: var(--panel-color-light);
		--panel-header-color: var(--panel-header-color-light);
		--text-color: var(--text-color-light);
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--background-color: var(--background-color-dark);
		--panel-color: var(--panel-color-dark);
		--panel-header-color: var(--panel-header-color-dark);
		--text-color: var(--text-color-dark);
	}
}

// Variables
$skyGamesPink: var(--sky-games-pink);
$skyGamesPinkDark: var(--sky-games-pink-dark);
$backgroundColor: var(--background-color);
$panelColor: var(--panel-color);
$panelHeaderColor: var(--panel-header-color);
$textColor: var(--text-color);

$backgroundColorDark: var(--background-color-dark);
$panelColorDark: var(--panel-color-dark);
$panelHeaderColorDark: var(--panel-header-color-dark);
$textColorDark: var(--text-color-dark);

$backgroundColorLight: var(--background-color-light);
$panelColorLight: var(--panel-color-light);
$panelHeaderColorLight: var(--panel-header-color-light);
$textColorLight: var(--text-color-light);

$darken: var(--darken);
$trans: var(--trans);





body {
	background-color: $backgroundColor;
	color: $textColor;
}

svg {
	height: 1em;
	vertical-align: text-top;
}


h1,
h2,
h3,
h4,
h5 {
	margin: none;
	padding: none;
}





header {
	height: 5rem;
	background-color: $skyGamesPink;


	.container {
		height: 100%;

	display: flex;
	flex-flow: row;
	align-items: center;
	gap: 2rem;
	vertical-align: middle;


	&,* ,h1,h2,h3,h4,h5,h6 {
		color: $textColorDark;
	}

	}

	

	@media (max-width: 544px) {
		position: fixed;
		bottom: 0;
		width: 100vw;
	}

}

input,select,button {
	outline: none;
	border: none;

}


%balloon {
	position: absolute;
		content: attr(data-balloon);
		bottom: 100%;
		background-color: black;
		padding: .3rem .5rem;
		font-size: 1rem;
		translate: -50%;
		left: 50%;
		margin-bottom: .5rem;
		z-index: 10;
		visibility: hidden
}

[data-balloon] {
	position: relative;
	&:before {
		@extend %balloon
	  }
	&:hover,&:focus{
		&::before {
			visibility: visible;
		}
	}
}

input:not([type=submit]):not([type=button]):not([type=reset]),select {
	color: $textColorDark;
	background: $skyGamesPink;
	padding: .5em 2em;
	background-color: $darken;
	border-radius: 1em;

	&:empty {
		background-color: none
	}


	&[type=radio] {
		display: none;
		&:has(+label) {
			display: none;
		}

		&+label {
			height: 100%;
			width: 100%;
			background-color: $darken;
			padding: .5rem .7rem;
		}
		&:checked+label {
			background-color: $skyGamesPink;
			color: $textColorDark;
		}
	}


}

//Buttons and links
%btnLinkBase {
	/*%btnLinkBase*/
	text-decoration: none;
	cursor: pointer;
	font-weight: bold;
}

%link {
	@extend %btnLinkBase;
	/*%link*/
	color: $skyGamesPink
}
%btn {
	@extend %btnLinkBase;
	display: inline-block;
	/*%btn*/
	color: $textColorDark;
	border: none;
	white-space: pre;
	text-align: center;
	user-select: none;
	padding:.3rem .5rem;
	border-radius: .5rem;
	background-color: $trans;
	img,svg {
		height:2rem;
		width: auto;
		vertical-align: text-bottom;
	}
	&.big {
		font-size: 1.7em;
		padding: .3rem 1rem;
		border-radius: .5rem;
	}
	&:not(.trans) {
		background-color: $skyGamesPink;

		&:hover,&.active{
			background-color: $skyGamesPinkDark;
		}
	}

	&:hover,&.active {
		background-color: $darken;
	}
}

//Links
a:not([href]),a[href=""] {
	color: inherit
}

a[href]:not([href=""]) {
	&,&:visited,&:link {
		&.btn {
			@extend %btn;
		}
		&:not(.btn) {
			@extend %link;
		}
	}
}

//Buttons
button,
input[type=submit],
input[type=reset],
input[type=button] {
	@extend %btn;
}


// End of Buttons and links



.filter {
	display: flex;
	flex-flow: column;
	gap: 1rem;
	padding: 1rem 0;

	label+select {
		display: inline;
	}
	>* {

		display: flex;
		align-items: center;
	}
	.game-levels {
		gap: 1em;
		select {
			flex: 1;
		}
	}
	.game-modes {
		:first-child label {
			border-top-left-radius: .5rem;
			border-bottom-left-radius: .5rem;
		}
		:last-child label {
			border-top-right-radius: .5rem;
			border-bottom-right-radius: .5rem;
		}
	}

}

.search-form {

	color:$textColorDark;
	position: relative;

	&::after {
		content: "🔍︎";
		position: absolute;
		left: 1em;
		top:50%;
		translate: -50% -50%;
	}

	.panel-body>& {
		&,input {
			width: 100%;
		}
	}


	input {
		color:$textColorDark;
		border: none;
		background: $skyGamesPink;
		padding: .5em 2em;
		background-color: $darken;
		border-radius: 1em;
		outline: none;
		&:empty {
			background-color: none
		}
		
	}

}
nav {
flex: 1;
	@media (max-width: 544px) {
		display: flex;
		flex-flow: row;
		justify-content: space-around;
		a {
			height: 100%;
		}
	}
}

main {

	h1,
	h2,
	h3,
	h4,
	h5 {
		color: $skyGamesPink;
	}
}

main .container {
	display: grid;
	grid-template-areas:
		"info"
		"main";
	gap: 1rem;
}

.panel {
	background-color: $panelColor;
	border-radius: 1rem;

.panel-header,.panel-body {

	width: 100%;
}

	.panel-header {
		background-color: $panelHeaderColor;
		border-radius: 1rem;
		padding: .3rem 1rem;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}

	.panel-body {
		padding: 1rem;
	  max-width: 100vw;
	}

}

.infocard .panel-body {

	display: flex;
	flex-flow: row;
	gap: 1rem;
	position: relative;

	#page_info {
		width: 100%;
	}


	img,svg {
		height: 8rem;
		width: auto;
	}

	svg {
		background-color: $backgroundColorLight
	}

	#page_play {
		float: right;
	}

}

#page_title {
	display: inline;
}

#page_links {
	display: inline-flex;
  gap: 1em;
  padding-bottom: 1rem;

}


table {

	a,
	a:visited,
	a:focus,
	a:hover {
		&:not(.entitylink) {
		color: inherit;
		}
	}

	border-collapse: collapse;
	width: 100%;

	td,
	th {
		padding: 8px;
		text-align: center;

		&:nth-child(2) {
			text-align: left;
		}
	}

	tr {

		//&:nth-child(even){background-color: $panelHeaderColor}
		&:hover {
			background-color: $panelHeaderColor
		}
	}

	th {
		padding-top: 12px;
		padding-bottom: 12px;
		background-color: $panelHeaderColor;
	}


}

#game_list {
	display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.game {
	display: inline-block;
	flex-flow: column;
	padding: 1em;
	text-align: center;
	border-radius: 1rem;
	svg {
		background-color: $backgroundColorLight;
	}
	img,svg {
		height: 8rem;
		width: auto;
	}
}
img,svg{
&.inlinetext, .entitylink &{
	height: 1rem;
	width: auto;
	font-size:1em;
	margin-right: .1rem;
	vertical-align: middle;
}
}
#record_info {
	display: flex;
	flex-flow: column;
	align-items: center;

	#record_media {
		height: auto;
		max-height: 100%;
		max-width: 100%;
		p,a {
		padding: 2rem;

		}
		&> * {
			width:100%;
			height: auto;
		}
		iframe {
			aspect-ratio: 16/9;
			border-width: 0;
		}
	}

	.infotile-column {
		display: flex;
		flex-flow: column;
		justify-content: stretch;
		gap: 1rem;
	}
	.infotile-row {
		display: flex;
		flex-flow: row;
		flex-wrap: wrap;
		gap: 1rem;
		&>* {
			flex: 1;
			flex-basis: 15rem;
		}
	}
	.infotile {
		background-color: $panelHeaderColor;
		border-radius:  .5rem;
		padding: .5rem .7rem;
	}
}


.search-result {
	display: flex;
	flex-flow: row;
	gap: 2rem;
  }
  
  .search-result img {
	height: 8rem;
	width: auto;
  }
  
  .search-results {
	display: flex;
	flex-flow: column;
	gap: 3rem;
  }
  
  .result-meta {
	display: flex;
	flex-flow: column;
	flex: 1;
  }
  
  .result-meta p {
	flex: 1;
	color: white;
  }
  
  .result-other {
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	width: 100%;
	color: white;
  }