<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="shortcut icon" href="{{page.favicon|default:'favicon.ico'}}" type="image/x-icon">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{page.title}} - {{site.title}}</title>
	<link rel="stylesheet" href="{{site.url}}/assets/css/style.css">
	<link rel="stylesheet" href="{{site.url}}/assets/css/hs.css">


	{% capture seo %}{% seo %}{% endcapture %}
	{% if page.image and page.image != site.logo %}
	{{seo | replace: "summary", "summary_large_image"}}
	{% else %}
	{{seo}}
	{% endif %}
</head>

<body>
	<header>
		<div class="container width-fit">
			<h1>Sky Games High Scores</h1>
			<nav>
				{% for item in site.data.nav %}
				<a {% if page.url contains item.url %}class="active"{%endif%} href="{{item.url}}">{{item.title}}</a>
				{% endfor %}
			</nav>

			<form method="get" action="{% include url.html url='/search' %}">
				<input type="text" id="search_box" name="q" >
			</form>
		</div>
	</header>
	<main>
		<div class="container width-fit">

			{% if page.game %}
			{% assign game = site.games | where:"slug", page.game | first|default:page.game%}
			{% include infocard.html item=game %}
			{% else %}
			{% include infocard.html item=page %}
			{% endif %}

			{% if page.collection == 'games' %}
			{% assign game = page %}
			{% endif %}

			{% if page.score %}
			
			{% assign player = site.players | where:"slug", page.author | first %}
			<div id="record_info" class="panel">
				<div class="panel-header">
				<h3><a {% if player.url %}href="{% include url.html url=player.url %}"{% endif %}><img class="inlinetext" src="{% include url.html url=player.image %}" >{{player.title|default:page.author}}</a> got {{page.score}}</h3>
				</div>
				{% if page.youtube %}
				<iframe class="youtube" src="https://www.youtube-nocookie.com/embed/{{page.youtube.id}}{% if page.youtube.start %}?start={{page.youtube.start}}{% endif %}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
				{% elsif page.video %}
				{% elsif page.image %}
				<img src="{{page.image}}" alt="">
				{% elsif page.link %}
				<div id="record_proof_mixed">
					{{page.link}}
				</div>
				{% endif %}
				<div class="panel-body infotile-column">
					{% if page.description %}
					<div class="infotile">
						<h4>Description</h4>
						{{page.description}}
					</div>
					{% endif %}
					<div class="infotile-row">
						<div class="infotile-column">
							<div class="infotile">
								<h4>Player</h4>
								<p>{% include player-link.html player=page.author %}</p>
							</div>
							<div class="infotile">
								<h4>Game</h4>
								<p>{% include game-link.html player=page.game %}</p>
							</div>
						</div>
						<div class="infotile-column">
							{% capture rank %}{% include scorerank.html score=page %}{% endcapture %}
							<div class="infotile">
								<h4>Rank</h4>
								<p>{% include place.html number=rank %}</p>
							</div>
							<div class="infotile">
								<h4>Date</h4>
								<p>{{page.date|date:site.date-format}}</p>
							</div>
							<div class="infotile">
								<h4>Score</h4>
								<p>{{page.score}}</p>
							</div>
						</div>
						<div class="infotile-column">
							<div class="infotile">
								<h4>Platform</h4>
								<p>{{page.platform}}</p>
							</div>
							<div class="infotile">
								<h4>Method</h4>
								<p>{{page.method}}</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			{% endif  %}

			{% if page.nopanels %}
			{{content}}
			{% else %}
			{% assign content_test = page.content | strip_newlines %}
			{% if content_test != ""%}
			<div class="panel">
				<div class="panel-header">
					<h2>
					{% if item.image or item.links %}
					About
					{% else %}
					{{page.title}}
					{% endif %}
				</h2>
				</div>
				<div class="panel-body  markdown-body">
					{{content}}
				</div>
			</div>
			{% endif %}
			{% endif %}


			{% if page.scores %}
			<div id="scores" class="panel">
				<div class="panel-header">
					<h2>Scores</h2>
				</div>
				<div class="panel-body">
					{% include list.html collection='scores' filter=page.scores.filter items=page.scores.items limit=page.scores.limit sort=page.scores.sort reverse=page.scores.reverse  %}
				</div>
			</div>
			{% endif %}
			{% if page.list %}
			<div id="list" class="panel">
				<div class="panel-header">
					<h2>{{page.list.collection|capitalize}} </h2>
				</div>
				<div class="panel-body">
					{% include list.html collection=page.list.collection filter=page.list.filter items=page.list.items limit=page.list.limit sort=page.list.sort reverse=page.list.reverse %}
				</div>
			</div>
			{% endif %}
			{% if page.comments %}
			<div class="panel">
				<div class="panel-header">
					<h2>Comments</h2>
				</div>
				<div class="panel-body">
					<script src="https://giscus.app/client.js"
			data-repo="{{site.repository}}"
			data-repo-id="R_kgDOKXC8bw"
			data-category="Comments"
			data-category-id="DIC_kwDOKXC8b84CZjyu"
			data-mapping="pathname"
			data-strict="1"
			data-reactions-enabled="1"
			data-emit-metadata="0"
			data-input-position="top"
			data-theme="preferred_color_scheme"
			data-lang="en"
			data-loading="lazy"
			crossorigin="anonymous"
			async>
	</script>
				</div>
			</div>
			{% endif %}
		</div>
	</main>
	<footer></footer>
</body>

</html>